---
const dots = '. '.repeat(1000)
---

<p class="text-6xl w-full">Nothing's here for now (go to <a class="text-pink-400 underline" href="/logs">logs</a> if you
    want),
    but something will be
    here eventually {dots}</p>